.root{
     -fx-background-color: black;
     -fx-font: 30px FreeMono;
 }

.button{
    -fx-background-color: black;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: grey;
}

.label{
    -fx-text-fill: white;
}

#menuButtons{
    -fx-max-width: 200px;
}

#controlLabel{
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-padding: 10px 20px 10px 20px;
    -fx-max-width: 150px;
    -fx-alignment: CENTER;
}

#title{
    -fx-font-size: 100px;
}

#subTitle{
    -fx-font-size: 65px;
}

